body{
  background-size: 100% 100%;
  background-image: url(./static/background.jpeg);
  background-repeat: no-repeat;
  background-color: white;
  padding: auto;
}

h1 {
  color: bisque;
  font-size: 48px;
  font-weight: bold;
}

button{
    height: 50px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #FF5A44;
    border-color: #FF5A44;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
    box-shadow: 0 2px 0 rgba(0,0,0,0.045);
}

#title {
  margin: 0 auto;
  text-align: center;
  height: 200px;
  line-height: 200px;
}

#prize{
  margin: 0 auto;
  height: 200px;
  width: 40%;
  text-align: center;
  line-height: 200px;
  font-size: 36px;
  font-weight: bold;
  background-color: bisque;

  border-radius: 25px;
  border: 5px solid #FAC000;
}

#box{
  margin: 0 auto;
  text-align: center;
  height: 200px;
  line-height: 200px;
}